/* @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.timer-box {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e0e5ec;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  min-height: 60vh;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  align-items: center;
  border-radius: 20px;
  box-shadow: 5px 5px 15px #00000055,
    -5px -5px 15px #ffffff88,
    inset 5px 5px 20px #ffffff99,
    inset -5px -5px 20px #00000055;
}

.watch {
  width: 70%;
  aspect-ratio: 1/1;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: inset 10px 10px 15px #00000055,
    inset -10px -10px 10px #ffffffcc;
  font-size: 2.5rem;
}

.controls {
  width: 70%;
  display: flex;
  justify-content: space-around;
}

button {
  all: unset;
  width: 50px;
  padding: 10px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 5px 5px 15px #00000055, -5px -5px 10px #ffffffcc;
  cursor: pointer;
}

button:active {
  box-shadow: inset 5px 5px 10px #00000055, inset -5px -5px 10px #ffffffcc;
}

button:active .fa-solid {
  font-size: 1.9rem;
}

.fa-solid {
  font-size: 2rem;
}
.text{
    margin-left: 21px;
}
.stop{
  background-color:#f15c5c;
  display: none;
}
.fa-stop{
  margin-left: 15px;
}
.fa-play{
  margin-left: 15px;
}
.lap-time{
  z-index: 9999;
}
.lap-div{
  margin-right: 20px;
 
}
.lap-time{
  background-color: #81f15c;
  margin-top: 5px;
  border-radius: 8px;
  color: #ff0000;
  font-weight: 600;
}